body{
    margin:0;
    font-family: sans-serif;
    padding:0;
    height: 100%;
    background: linear-gradient(to right, #d3d8ea 0%,#d3d8ea 50%,#000000 50%,white 50%,white 100%);
}

.container{
   width: 100%;
   height: 100%;
}

.picFrame{
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

.textFrame > h1{
    letter-spacing: 10px;
    font-size: 450%;
    margin-top: 20%;
    position: relative;    
}

.textFrame > p{
    margin-left: 20%;
    font-size: 120%;
    width : 60%;
}

.textFrame > h2{
    margin-top: 10%;
    font-size: 250%;        
}

.textFrame{
    height: 100%;;
    width: 50%;
    float: left;
    background-color: #d3d8ea;
    text-align: center;
}

.learn {
    margin-top: 5%;  
    margin-left: 27%;
    border-radius: 25px;
    border: 5px solid #000000;
    padding: 10px; 
    width: 300px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 40%;
}

a:link{
    text-decoration: none;
}

a{
    font-size: 160%;
    font-weight: 200;
    color: black;
}

.download > a{
    position: absolute;
    right: 10%;
    bottom: 7%;
    font-size: 130%;
    letter-spacing: 5px;    
} 

.download {
    position: fixed;
    right: 1%;
    top: 1%;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 5px; 
    width: 200px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}

img{
    
}
        
.add{
   
}    

.headerp{
    text-align: center;
    font-size: 400%;
    margin: 10%;
}

.textp{
    width: 70%;
    height:100%;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 10%;    
}

.textp > p{
    font-size: 180%;
}

.textbox{
    background-color: white;
    position: absolute;
    top:6%;
    left: 10%;
    height: 90%;
    width: 80%;
    box-shadow: 10px 10px 5px grey; 
    overflow: scroll;
}

.problemp{
    font-size: 125%;
    line-height: 120%;
    
}

.problemp > p{
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;   
}

.problemp > h2{
    
    margin-left: 45%;
}

//Daniel 22.11

.bluebox{
    background-color: #d3d8ea;
    height: 100%;
    width: 50%;
}

.box{
    width: 70%;
    height: 80%;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
    
}

//lagt til av Daniel 22.11

h1{
    font-size: 300%;
    color: black;
    font-family: Verdana;
    margin-left: 5%;
    
}

p{
    font-family: Verdana;
    font-size: 90%;
    margin-left: 5%;
    margin-right: 60%;
    
}

h2{
    margin-left: 5%;
    margin-top: 8%;
    font-size: 130%;
}

img{
    margin-left: 5%;
}

.mobil{
    float: right;
}


/*Rej- Header */
    .ProbBox{
    position: absolute;
    right: 20%;
    top: 1%;
    padding: 0.5%; 
    width: 15%;
    height: 2%;
    text-align: center;
    text-decoration: none;
    display:  inline-block;
    
    
    
}

.SoluBox{
    position: absolute;
    right: 35%;
    top: 1%;
    padding: 0.5%; 
    width: 15%;
    height: 2%;
    text-align: center;
    text-decoration: none;
    display:  inline-block;
   
    
   
}
.HomeBilde{
height: 5%;
    width: 5%;
    margin-left: 1%;
}

a:hover{
    color: #7783AF;
}
/*Rej- DONE 22.11 */

/*Ryan- Download på slutten */
.download2 > a{
    font-size: 130%;
    letter-spacing: 5px; 
    color: black;
} 

.download2 {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 5px; 
    width: 20%;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    position: absolute;
}

.sources{
    margin-left: 33%;
}

.sources > a{
    font-size: 70%;
    text-align: center
}
/* DONE 22.11 - RYAN */

.mobilDownload{
    float: right;
    margin-top: -10%;
}
