body{
   
}

.container{
   width: 100%;
   height: 2000px;
}

.picFrame{
    height: 2000px;
    width: 50%;
    float: left;
    
    
}

.textFrame{
     height: 2000px;
    width: 50%;
    float: left;
    background-color: #f2f2f2;
    
}
